@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap')

$color-warning: #FFB42A
$color-black: #37404F
$color-gray: #656565

body
	color: $color-black
	font-family: 'Roboto', sans-serif
	@media (min-width: 1200px)
		font-size: 18px
	@media (max-width: 991.98px)
		&.menubar-in
			overflow: hidden

*
	outline: none !important

img
	max-width: 100%

a 
	transition: .3s
	&:hover 
		opacity: .8
		text-decoration: none

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	font-weight: bold
	color: $color-warning

.h1, h1 
	letter-spacing: 1.2px
	margin-bottom: 33px
	@media (min-width: 1200px)
		font-size: 55px
.h2, h2
	@media (min-width: 1200px)
		font-size: 40px
.h3, h3
	@media (min-width: 1200px)
		font-size: 2rem
.h4, h4
	@media (min-width: 1200px)
		font-size: 25px

.fz-40
	font-size: 40px
.fz-24
	font-size: 24px
.fz-20
	font-size: 20px
	line-height: 1.2
	letter-spacing: -0.4px
.fz-18
	font-size: 18px
	line-height: 1.25
.fz-14
	font-size: 14px

.text-warning
	color: $color-warning !important
.text-gray
	color: $color-gray !important

.container
	position: relative
	@media (min-width: 1200px)
		max-width: 1200px

.cont-mx
	@media (min-width: 1250px)
		margin-left: -26px
		margin-right: -26px

.row-1:not(.no-gutters)
	margin-left: -10px
	margin-right: -10px
	> [class*="col"]
		padding-left: 10px
		padding-right: 10px

.btn 
	border: 0
	border-radius: 100px
	font-weight: bold
	padding: 6px 32px
	position: relative
	transition: .3s
	&:hover
		opacity: .8

.form-control
	height: 43px
	font-size: 20px
	border-radius: 100px
	padding-left: 28px
	padding-right: 28px
	border: none
	box-shadow: none
	&::-webkit-input-placeholder
		color: #D2D2D2
	&::-moz-placeholder
		color: #D2D2D2
	&:-ms-input-placeholder
		color: #D2D2D2
	&:-moz-placeholder
		color: #D2D2D2

.owl-theme
	.owl-nav
		margin-top: 0
		[class*=owl-]
			padding: 0
			margin: 0
			border-radius: 0
			width: 57px 
			height: 57px
			background-color: $color-warning !important
			background-position: center center
			background-repeat: no-repeat
			transition: .3s
			position: absolute
			top: 50%
			transform: translateY(-50%)
			&:not(.disabled):hover 
				opacity: .8
			&.owl-prev
				left: -28.5px
				background-image: url(../img/arrow-left.svg) !important
			&.owl-next
				right: -28.5px
				background-image: url(../img/arrow-right.svg) !important

.hero
	padding-top: 190px
	position: relative
	background-image: url(../img/hero.jpg)
	background-size: cover
	@media (max-width: 991.98px)
		padding-top: 57.5px
	&:before 
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: #252D3A
		opacity: .7

.header
	color: #fff
	margin-top: 57.5px
	background-color: $color-warning
	@media (min-width: 992px)
		padding: 0 26px
	@media (max-width: 575.98px)
		margin-left: -15px
		margin-right: -15px
	.form-control
		height: 51px
		max-width: 270px
		margin-right: -1px
		border-radius: 0
		box-shadow: none !important
		transition: .3s
		flex-grow: 1
	&:not(.search-open)
		.form-control
			max-width: 0
			padding: 0
	
#search
	min-width: 51px
#sandwich
	width: 51px
	height: 51px
	display: block
	padding: 18px 15.5px
	background-color: #FFEE00
	span 
		width: 100%
		display: block
		border-top: 1px solid $color-black
		transform-origin: left center
		transition: .3s
		+ span 
			margin-top: 6px
		.menubar-in &
			margin-left: 3px
			&:nth-child(1)
				transform: rotate(45deg)
			&:nth-child(2)
				width: 0
				opacity: 0
			&:nth-child(3)
				transform: rotate(-45deg)

.menubar
	position: sticky
	top: 0
	background-color: #fff
	z-index: 9
	@media (min-width: 1200px)
		font-size: 20px
	@media (max-width: 991.98px)
		position: fixed
		right: -269px
		width: 269px
		top: 0
		bottom: 0
		transition: .3s
		overflow: auto
		padding: 30px 0
		color: $color-warning
		background-color: #202731
		.menubar-in &
			right: 0
	.nav-item
		flex-grow: 1
		position: relative
	li 
		&:hover 
			> .sub-menu
				opacity: 1
				pointer-events: inherit
	a 
		color: inherit
	.nav-link
		padding: 29px 10px
		position: relative
		text-align: center
		font-weight: 900
		text-transform: uppercase
		@media (max-width: 991.98px)
			padding: .5rem 1rem
			text-align: left
		@media (min-width: 992px)
			&:after 
				content: ''
				width: 7px
				height: 7px
				border-radius: 50%
				position: absolute
				bottom: 20px
				left: 50%
				transform: translateX(-50%)
				background-color: $color-warning
				opacity: 0
				transition: .3s
			&:hover
				&:after 
					opacity: 1

.sub-menu
	font-size: 14px
	list-style: none
	padding-left: 0
	margin-bottom: 1rem
	@media (min-width: 992px)
		position: absolute
		top: 100%
		left: 0
		width: 250px
		background-color: #fff
		opacity: 0
		pointer-events: none
		transition: .3s
		margin-bottom: 0
	li 
		position: relative
		a 
			display: block
			padding: .25rem 10px
			@media (max-width: 991.98px)
				padding: .5rem 1rem
				color: #fff
	.sub-menu
		top: 0
		left: 100%
		margin-bottom: 0
		.nav-item:nth-child(n+5) &
			left: auto
			right: 100%
		@media (max-width: 991.98px)
			padding-left: 1rem

.footer
	color: #fff
	padding-top: 87px
	padding-bottom: 87px
	background-color: #202731
	background-image: url(../img/footer.svg)
	background-position: bottom right
	background-repeat: no-repeat
	line-height: 1.85
	@media (max-width: 991.98px)
		background-size: 320px
	@media (max-width: 575.98px)
		padding-bottom: 240px
	hr
		border-top-color: #fff
		margin: 29px 21px
	a 
		color: inherit
	h4 
		margin-bottom: 3px
	p, ul
		margin-bottom: 33px
		@media (min-width: 992px)
			&:last-child
				margin-bottom: 11px

.section-1 
	padding-top: 57px
	padding-bottom: 57px
	background-color: #F3F5F7



